*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************************/
/* */
/********************************************************************************/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}



/********************************************************************************/
/* */
/********************************************************************************/
.playbar-container{
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.content-container{
    height: calc(100vh - 50px);
    border: 1px solid;
    background-color: bisque;
    display: flex;
}

.asidebar-container{
    width: 50px;
    height: 100%;
    background-color: black;
}

.right-container{
    width: calc(100% - 50px);
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.banner-container{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
}

.link-container{
    width: 100%;
    padding: 20px;
    background-color: brown;
    padding: 15px;
    text-align: center;
}

.right-container .link-container ul{
    list-style: none;
}

.right-container .link-container ul li{
    font-size: 10px;
    display: inline-block;
    padding: 15px 6px;
}

.right-container .link-container ul li a{
    text-decoration: none;
    color: white;

}

.main-container{
    width: 100%;
    background-color: burlywood;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-container{
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.card{
    width: calc(100% / 2 - 5px);
    height: 100px;
    border: 1px solid;
}