*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************************/
/* */
/********************************************************************************/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

/********************************************************************************/
/* */
/********************************************************************************/

/* RIGHT SECTION */
.playbar-container{
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.content-container{
    height: calc(100vh - 50px);
    border: 1px solid;
    background-color: bisque;
    display: flex;
}


.right-container{
    /* width: calc(100% - 35px); */
    height: 100%;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.banner-container{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    flex-shrink: 0;
}

.link-container{
    width: 100%;
    padding: 20px;
    background-color: brown;
    padding: 0 15px;
    text-align: center;
    flex-shrink: 0;
}

.right-container .link-container ul{
    list-style: none;
}

.right-container .link-container ul li{
    font-size: 10px;
    display: inline-block;
    padding: 15px 6px;
}

.main-container{
    width: 100%;
    background-color: burlywood;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-container{
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.card{
    width: calc(100% / 2 - 5px);
    height: 100px;
    border: 1px solid;
}

/* ASIDE-BAR SECTION */
.asidebar-container{
    width: 35px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    color: #878787;
    flex-shrink: 0;
    position: relative;
}

.icon-container{
    flex-shrink: 0;
}

.icon-container ul li{
    padding: 5px 0;
    text-align: center;
}

.icon-container ul li a img{
    width: 17px;
    text-align: center;
}


.playlist-container{
    flex-grow: 1;
}

.profile-container{
    flex-shrink: 0;
}

.profile-container ul li{
    text-align: center;
    padding: 3px 0;
}


.profile-container ul li:first-child img{
    width: 11px;
}

.profile-container ul li:last-child img{
    background-color: #878787;
}


#profile-img-container{
    display: inline-block;
    height: 17px;
    width: 17px;
    overflow: hidden;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .display-xs-none{
        display: none;
    }
    
}


/********************************************************************************/
/* iPad mini - width: 768px */
/********************************************************************************/
@media screen and (min-width: 768px) {
    .asidebar-container{
        width: 200px;
        padding: 0 17px;
    }
    
    .flex{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }


    .icon-container ul li:first-child{
        content: url(../img/logo.svg);
        width: 70%;
        padding: 15px 0 25px;
    }

    .icon-container ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .icon-container ul li{
        font-size: 12px;
    }

    .icon-container ul li a{
        display: flex;
        align-items: center;
    }

    .icon-container ul li a span{
        padding-left: 5px;
    }

    .icon-container ul li a img{
        width: 25px;
    }
 
    .playlist-container{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .playlist-container ul li{
        padding: 10px 0;
        color: #878787;
    }
    
    .playlist-container ul li a{
        color: #878787;
    }


    .playlist-container .btn-container{
        padding: 10px 0;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    
    .btn{
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 30px;
        background-color: #A3A3A3;
        text-align: center;
        line-height: 30px;
        font-weight: 600;
    }
    
    .playlist-container .btn-container .btn a{
        text-decoration: none;
        color: black;
    }

    .playlist-container .btn-container .btn-text{
        padding: 0 7px;
    }

    .flex-grow{
        flex-grow: 1;
        overflow: auto;
    }

    .profile-container ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-container ul li{
        display: inline-block;
        padding: 7px 0;
    }

    hr{
        width: calc(200px - 34px);
        color: #878787;
        background-color: #878787;
    }
}



