*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************************/
/* */
/********************************************************************************/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

section{
    padding-bottom: 35px;
}

/********************************************************************************/
/* */
/********************************************************************************/

/***************RIGHT SECTION***************/
.content-container{
    height: calc(100vh - 60px);
    display: flex;
}


.right-container{
    height: 100%;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Banner */
.banner-container{
    width: 100%;
    background-color: #080B12;
    flex-shrink: 0;
    text-align: right;
    line-height: 70px;
    padding-right: 10px;
}

.banner-container .btn{
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 20em;
    text-decoration: none;
    color: white;
}

.banner-container .btn:hover{
    padding: 10px 17px;
    font-size: 13px;
}


/* Link */
.link-container{
    width: 100%;
    padding: 0 8px 15px;
    text-align: center;
    flex-shrink: 0;
}

.right-container .link-container ul{
    list-style: none;
}

.right-container .link-container ul li{
    font-size: 10px;
    display: inline-block;
    padding: 15px 6px;
    color: #878787;
    transition: color .3s;
}

.right-container .link-container ul li a{
    color: #878787;
}

.right-container .link-container ul li:hover a{
    color: white;
}



/* Main and Card */
.main-container{
    width: 100%;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.main-container h2{
    font-size: 22px;
}

.main-container h3{
    font-size: 13px;
}

.main-container h4{
    font-size: 10px;
    color: #878787;
    padding-top: 10px;
}

.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}


.card{
    width: calc(100% / 2 - 5px);
    text-align: center;
    position: relative;
}

.card .card-img{
    position: relative;
    display: block;
    color: white;
}

.card .card-img img{
    display: block;
    margin: auto;
}

.card:hover .card-img::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.678);
}
 
.card-icon-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    visibility: hidden;
    z-index: 98;
}
.card:hover .card-icon-play{
    visibility: visible;
}

.card .card-img img{
    width: 100%;
    max-width: 250px;
}

.circle{
    border-radius: 50%;
    overflow: hidden;
}



.card .card-text{
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    color: white;
}


.card .card-text h4{
    padding-top: 5px;
    font-size: 10px;
    font-weight: 400;
    color: #878787;
}


/***************ASIDE-BAR SECTION***************/
.aside-bar-container{
    width: 40px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    color: #878787;
    flex-shrink: 0;
    position: relative;
}

.icon-container{
    flex-shrink: 0;
}

.icon-container ul li{
    padding: 5px 0;
    text-align: center;
}

.icon-container ul li a img{
    width: 17px;
    text-align: center;
}

.icon-container ul li:hover{
    filter: brightness(100);
}

.playlist-container{
    flex-grow: 1;
}

.playlist-container h4{
    color: white;
}

.profile-container{
    flex-shrink: 0;
}

.profile-container ul li{
    text-align: center;
    padding: 3px 0;
}


.profile-container ul li:first-child img{
    width: 11px;
}

.profile-container ul li:last-child img{
    background-color: #878787;
}


#profile-img-container{
    display: inline-block;
    height: 17px;
    width: 17px;
    overflow: hidden;
    border-radius: 50%;
}

/***************PLAY-BAR SECTION***************/
.playbar-container{
    width: 100%;
    height: 60px;
    background-color: #282828;
    position: relative;
    z-index: 99;
    display: flex;
    padding: 10px 10px;
}

.song-container,
.manage-container{
    flex-shrink: 0;
    display: flex;
}

.status-container{
    flex-grow: 1;
    text-align: center;
}


.song-container .song-img-container img{
    height: 100%;
    
}

.song-container .song-img-container{
    overflow: hidden;
    padding: 4px;
}

.song-text-container,
.song-icon-container{
    display: flex;
    flex-direction: column;
}

.song-text-container{
    width: 50%;
    padding-left: 10px;
}


.song-container .song-text-container h3{
    font-size: 12px;
}


.song-container .song-text-container h4 a{
    display: inline-block;
    font-size: 9px;
    font-weight: 400;
    color: #878787;
    text-decoration: none;
    padding-top: 0;
    padding-right: 15px;
}

.song-container .song-text-container h4 a:hover{
    text-decoration: underline;
}


.song-icon-container{
    display: flex;
    font-size: 12px;
    justify-content: center;
    gap: 5px;
    color: #878787;
}


.song-icon-container a i{
    color: #878787;
}


.song-icon-container i:hover{
    color: white;
}


.status-container{
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.status-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 8px;
}

.status-btn-container a{
    color: white;
}

.status-btn-container a:nth-child(3){
    font-size: 23px;
}

.status-btn-container i:hover{
    transform: scale(1.1);
}
   

.status-bar-container{
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
}

.status-bar{
    height: 3px;
    background-color: #5A5A5A;
    border-radius: 4px;
    position: relative;
    flex-grow: 1;
}



.status-bar::before{
    content: "";
    width: 10%;
    height: 100%;
    border-radius: 4px;
    background-color: #C1C1C1;
    position: absolute;
    left: 0;
    top: 0;
}

.status-bar:hover::before{
    background-color: #ADFF2F;
}

.status-bar:hover::after{
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C1C1C1;
    position: absolute;
    left: 10%;
    top: 0;
    transform: translate(-50%, -35%);
}



span[class*="text"]{
    font-size: 9px;
    padding: 0 5px;
    flex-shrink: 0;
}


.manage-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.manage-container a{
    display: inline-block
    font-size: 10px;
    padding: 0 3px;
    color: white;
}

.manage-container i:hover{
    transform: scale(1.1);
}

.volume-bar{
    min-width: 60px;
    height: 3px;
    background-color: #5A5A5A;
    border-radius: 4px;
    position: relative;
}

.volume-bar::before{
    content: "";
    width: 25%;
    height: 100%;
    border-radius: 4px;
    background-color: #C1C1C1;
    position: absolute;
    left: 0;
    top: 0;
}


.volume-bar:hover::before{
    background-color: #ADFF2F;
}

.volume-bar:hover::after{
    content:"";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C1C1C1;
    position: absolute;
    left: 25%;
    top: 0;
    transform: translate(-50%, -35%);
}






@media screen and (max-width: 575px){
    .display-xs-none{
        display: none;
    }
}


/********************************************************************************/
/* Width: 576px */
/********************************************************************************/
@media screen and (min-width: 576px) {
    /*****ASIDE-BAR*****/
    .aside-bar-container{
        width: 220px;
        padding: 0 20px;
    }
    
    .flex-column{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }


    .icon-container ul li:first-child{
        content: url(../img/logo.svg);
        width: 70%;
        padding: 15px 0 25px;
    }

    .icon-container ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .icon-container ul li{
        font-size: 12px;
    }

    .icon-container ul li a{
        display: flex;
        align-items: center;
        color: #C1C1C1;
    }

    
    .icon-container ul li a:hover{
        color: white;
    }


    .icon-container ul li a span{
        padding-left: 5px;
    }

    .icon-container ul li a img{
        width: 25px;
    }
 
    .playlist-container{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        overflow: hidden;
    }

    .playlist-container h4{
        font-size: 14px;

    }

    .playlist-container ul li{
        padding: 10px 0;
        color: #878787;
    }
    
    .playlist-container ul li a{
        color: #878787;
        font-size: 12px;
    }

    .playlist-container ul li a:hover{
        color: white;
    }


    .playlist-container .btn-container{
        padding: 10px 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #878787;
    }
    
    .playlist-container .btn-container .plus-btn{
        flex-grow: 1;
    }
    
    .playlist-container .btn-container .plus-btn a{
        text-decoration: none;
        color:#878787;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }

    .playlist-container .btn-container .plus-btn a span{
        font-size: 14px;
        line-height: 35px;
        vertical-align: middle;
        font-weight: bold;
    }
    
    .playlist-container .btn-container .plus-btn a:hover{
        text-decoration: none;
        color: white;
    }
    
    .playlist-container .btn-container .btn-text{
        padding: 0 7px;
        text-decoration: none;
        color: #878787;
    }

    .flex-grow{
        flex-grow: 1;
        overflow: auto;
    }

    .profile-container ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-container ul li{
        display: inline-block;
        padding: 7px 0;
    }

    .profile-container ul li a{
        text-decoration: none;
        color: #878787;
    }

    .profile-container ul li a.flex-column{
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: white;
        font-weight: bold;

    }

    hr{
        width: calc(220px - 40px);
        color: #878787;
        background-color: #878787;
    }


    /*****RIGHT SECTION*****/
    /* link */
    .link-container{
        padding-left: 35px;
        padding-right: 35px;
    }
 

    /* main and card */
    .card{
        width: calc(100% / 2 - 5px);
        text-align: center;
    }


    /*****PLAY-BAR SECTION*****/
    .playbar-container{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .song-container .song-text-container h3,
    .song-container .song-icon-container a i,
    .manage-container i
    {
        font-size: 12px;
    }

    .song-container .song-text-container h4 a{
        font-size: 10px;
    }

    .song-container .song-img-container{
        padding: 0;
    }

    .song-container .song-text-container{
        justify-content: center;
    }


    .status-container{
        width: 40%;
        align-items: center;
    }

    .status-bar-container{
        max-width: 300px;
        width: 100%;
    }

    .status-btn-container{
        font-size: 14px;
        justify-content: center;
        gap: 8px;
    }

    .status-btn-container i:nth-child(3){
        font-size: 25px;
    }



}


/********************************************************************************/
/* Width: 768px */
/********************************************************************************/
@media screen and (min-width: 768px) {
    .card{
        width: calc(100% / 4 - 10px);
        text-align: center;
        position: relative;
    }
}